<!DOCTYPE html>
<html>

<head>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      color: #333;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    h1 {
      color: #555;
    }

    p {
      margin-bottom: 20px;
    }

    .end__block {
      margin-bottom: 5px;
    }

    span {
      font-weight: bold;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1>Thank You for Connecting!</h1>
    <p>We're excited to receive your information. Your message has been received and we'll be in touch shortly.</p>
    <p class="end__block">Best regards,</p>
    <span>Dhruv Prajapati</span>
  </div>
</body>

</html>